*.pdf   binary
*.asm   text eol=lf
*.bmk   text eol=lf
*.c     text eol=lf
*.h     text eol=lf
*.pl    text eol=lf
*.pm    text eol=lf
*.rl    text eol=lf
*.t     text eol=lf
*.tt    text eol=lf
*.yaml  text eol=lf
Makefile text eol=lf
