**/*.bak
**/*.d
**/*.err
**/*.exe
**/*.lib
**/*.o
**/*.vcxproj.user
**/lib*.a
**/zcc_opt.def
**/zcc_proj.lst
bin/
libsrc/_DEVELOPMENT/arch/zx/bifrost2/z80/BIFROST2_ENGINE.asm
libsrc/_DEVELOPMENT/arch/zx/bifrost2/z80/BIFROST2_INSTALL.asm
libsrc/_DEVELOPMENT/arch/zx/bifrost2/z80/bifrost2_engine_48.bin
libsrc/_DEVELOPMENT/arch/zx/bifrost2/z80/bifrost2_engine_48.bin.zx7
libsrc/_DEVELOPMENT/arch/zx/bifrost2/z80/bifrost2_engine_48.def
libsrc/_DEVELOPMENT/arch/zx/bifrost2/z80/bifrost2_engine_p3.bin
libsrc/_DEVELOPMENT/arch/zx/bifrost2/z80/bifrost2_engine_p3.bin.zx7
libsrc/_DEVELOPMENT/arch/zx/bifrost2/z80/bifrost2_engine_p3.def
libsrc/_DEVELOPMENT/arch/zx/bifrost_h/z80/BIFROSTH_ENGINE.asm
libsrc/_DEVELOPMENT/arch/zx/bifrost_l/z80/BIFROSTL_ENGINE.asm
libsrc/_DEVELOPMENT/arch/zx/nirvanam/z80/NIRVANAM_ENGINE.asm
libsrc/_DEVELOPMENT/arch/zx/nirvanam/z80/asm_NIRVANAM.asm
libsrc/_DEVELOPMENT/arch/zx/nirvanap/z80/NIRVANAP_ENGINE.asm
libsrc/_DEVELOPMENT/arch/zx/nirvanap/z80/asm_NIRVANAP.asm
libsrc/_DEVELOPMENT/target/cpm/cpm_crt.asm
libsrc/_DEVELOPMENT/target/rc2014/rc2014_crt.asm
libsrc/_DEVELOPMENT/target/sms/sms_crt.asm
libsrc/_DEVELOPMENT/target/z180/z180_crt.asm
libsrc/_DEVELOPMENT/target/z80/z80_crt.asm
libsrc/_DEVELOPMENT/target/zx/zx_crt.asm
src/appmake/appmake
src/config.h
src/copt/copt
src/cpp/zcpp
src/lstmanip/z88dk-lstmanip
src/scanner/zpragma
src/sccz80/sccz80
src/ticks/ticks
src/ticks/z88dk-dis
src/ucpp/ucpp
src/z80asm/t/libtestlib.a
src/z80asm/z80asm
src/z80asm/z80asm2
src/z80asm2/re2c
src/z80asm2/z80asm2
src/z80asm2/t/test
src/z80nm/z80nm
src/z88dk-lib/z88dk-lib
src/zcc/zcc
src/zobjcopy/zobjcopy
src/zpragma/zpragma
src/zx7/dzx7
src/zx7/zx7
support/graphics/z80svg
support/pv1000/font2pv1000
t/**
win32/*/Debug/
win32/*/Release/
win32/*/x64/
win32/.vs/
win32/Debug/
win32/Release/
win32/ipch/
win32/z88dk.VC.VC.opendb
win32/z88dk.VC.db
include/_DEVELOPMENT/proto/lib/
include/_DEVELOPMENT/clang/lib/
include/_DEVELOPMENT/sccz80/lib/
include/_DEVELOPMENT/sdcc/lib/
**/nbproject/**

