[submodule "UNIXem"]
	path = ext/UNIXem
	url = https://github.com/z88dk/UNIXem.git
[submodule "ext/optparse"]
	path = ext/optparse
	url = https://github.com/skeeto/optparse.git
[submodule "ext/Unity"]
	path = ext/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "ext/uthash"]
	path = ext/uthash
	url = https://github.com/z88dk/uthash.git
[submodule "ext/regex"]
	path = ext/regex
	url = https://github.com/z88dk/regex.git
