**/*.o
**/*.d
**/*.lib
**/zcc_opt.def
win32/Release/
win32/zcpp/Debug/
win32/zcc/Debug/vc140.pdb
win32/z88dk.VC.db
win32/z80nm/Release/
win32/sccz80/Debug/
win32/appmake/Debug/
win32/appmake/Release/
win32/Debug/
win32/dzx7/Release/
win32/z80asm/Debug/
win32/sccz80/Release/
win32/ticks/Debug/
win32/ticks/Release/
win32/z80asm/Release/
win32/copt/Release/
win32/dzx7/Debug/
win32/z80nm/Debug/
win32/copt/Debug/
win32/zcc/Release/
win32/zcc/Debug/
win32/zcpp/Release/
win32/zpragma/Debug/
bin/
win32/zx7/Debug/
win32/zpragma/Release/
win32/zx7/Release/
win32/.vs/
