# common file types

**/*.bak
**/*.bin
**/*.c.asm
**/*.c.sym
**/*.d
**/*.dSYM/
**/*.err
**/*.exe
**/*.lis
**/*.map
**/*.o
**/*.orig
**/*.output
**/*.tap
**/*.vcxproj.user
**/.prove*
**/_prove
**/lib*.a

**/.vscode/
**/nbproject/**
**/zcc_opt.def
**/zcc_proj.lst

# root

.ticks_history.txt
zsdcc_*_src.tar.gz

#

bin/
t/**

# win32

win32/**/Debug/
win32/**/Release/
win32/*/x64/
win32/.vs/
win32/ipch/
win32/z88dk.VC.VC.opendb
win32/z88dk.VC.db
win32/.github/copilot-instructions.md
