*.asm   text eol=lf
*.bat   text eol=crlf
*.bmk   text eol=lf
*.c     text eol=lf
*.cc    text eol=lf
*.cpp   text eol=lf
*.def   text eol=lf
*.h     text eol=lf
*.hh    text eol=lf
*.hpp   text eol=lf
*.in    text eol=lf
*.l     text eol=lf
*.lst   text eol=lf
*.md    text eol=lf
*.opt   text eol=lf
*.pdf   binary
*.pl    text eol=lf
*.pm    text eol=lf
*.py    text eol=lf
*.re    text eol=lf
*.rl    text eol=lf
*.sh    text eol=lf
*.t     text eol=lf
*.tt    text eol=lf
*.txt   text eol=lf
*.vcxproj text eol=crlf
*.vcxproj.filters text eol=crlf
*.y     text eol=lf
*.yaml  text eol=lf
*.yml   text eol=lf
Makefile text eol=lf
README* text eol=lf
readme* text eol=lf
