
# Allow us to switch assembler/compiler flags relatively easily

# Directory where the .lst files are located
LISTFILE_DIRECTORY=.

# Directory that the .lib files should be placed in
OUTPUT_DIRECTORY :=  $(dir $(abspath $(lastword $(MAKEFILE_LIST))))


#USE_MPM=1
ifdef USE_MPM
LIBLINKER = mpm -I$(Z80_OZFILES) -d -ns -nm -Mo
ASSEMBLER = mpm -I$(Z80_OZFILES)
CFLAGS = -mpm
else
LIBLINKER = z80asm -d -I$(ZCCCFG)/../
ASSEMBLER = z80asm
CFLAGS = -O3 -vn -Wn43  -c
endif

