
# Allow us to switch assembler/compiler flags relatively easily

Z88DK_LIB := $(dir $(abspath $(lastword $(MAKEFILE_LIST))))/../lib/

# Directory where the .lst files are located
LISTFILE_DIRECTORY=.

# Directory that the .lib files should be placed in, ends in /
OUTPUT_DIRECTORY :=  $(dir $(abspath $(lastword $(MAKEFILE_LIST))))

# Make sure there are no double-slashes so that $(subst ...) works
NEWLIB_DIRECTORY := $(subst //,/,$(OUTPUT_DIRECTORY)/_DEVELOPMENT/)

LIBLINKER = $(EXEC_PREFIX)z80asm -d -I$(ZCCCFG)/../
ASSEMBLER = $(EXEC_PREFIX)z80asm 
CFLAGS = -O2 -vn  -c

Q ?= @
ZCC := $(Q)zcc
MAKE := $(Q)$(MAKE) --no-print-directory
RM := $(Q)$(RM)


obj/z80/%.o: %.c
	$(ZCC) +test -mz80 $(CFLAGS) -o $@  $^


obj/z80/%.o: %.asm
	@$(ASSEMBLER) -I../ -I$(Z88DK_LIB) -mz80 -D__CLASSIC $^
	@mv $(^:.asm=.o) $@

obj/z180/%.o: %.c
	$(ZCC) +test -mz180 $(CFLAGS) -o $@  $^

obj/z180/%.o: %.asm
	@$(ASSEMBLER) -I../ -I$(Z88DK_LIB) -mz180 -D__CLASSIC $^
	@mv $(^:.asm=.o) $@

obj/z80n/%.o: %.c
	$(ZCC) +test -mz80n -custom-copt-rules=$(Z88DK_LIB)/z80n_rules.1  $(CFLAGS) -o $@  $^

obj/z80n/%.o: %.asm
	@$(ASSEMBLER) -I../ -I$(Z88DK_LIB) -mz80n -D__CLASSIC $^
	@mv $(^:.asm=.o) $@

obj/ixiy/%.o: %.c
	$(ZCC) +test -mz80 -Ca--IXIY -Cl--IXIY $(CFLAGS) -o $@  $^

obj/ixiy/%.o: %.asm
	@$(ASSEMBLER) -I../ -I$(Z88DK_LIB) --IXIY -mz80 -D__CLASSIC $^
	@mv $(^:.asm=.o) $@

obj/r2k/%.o: %.c
	$(ZCC) +rcmx000 $(CFLAGS) -o $@  $^

obj/r2k/%.o: %.asm
	@$(ASSEMBLER) -I../ -I$(Z88DK_LIB) -mr2k -D__CLASSIC $^
	@mv $(^:.asm=.o) $@

obj/$(TARGET)/%.o: %.c
	@zcc +$(TARGET) $(CFLAGS) -o $@  $^

obj/$(TARGET)/%.o: %.asm
	@zcc +$(TARGET) $(CFLAGS) -o $@  $^
