
# Allow us to switch assembler/compiler flags relatively easily

Z88DK_LIB := $(dir $(abspath $(lastword $(MAKEFILE_LIST))))/../lib/

# Directory where the .lst files are located
LISTFILE_DIRECTORY=.

# Directory that the .lib files should be placed in
OUTPUT_DIRECTORY :=  $(dir $(abspath $(lastword $(MAKEFILE_LIST))))

NEWLIB_DIRECTORY := $(OUTPUT_DIRECTORY)/_DEVELOPMENT/

#USE_MPM=1
ifdef USE_MPM
LIBLINKER = mpm -I$(Z80_OZFILES) -d -ns -nm -Mo
ASSEMBLER = mpm -I$(Z80_OZFILES)
CFLAGS = -mpm
else
LIBLINKER = $(EXEC_PREFIX)z80asm -d -I$(ZCCCFG)/../
ASSEMBLER = $(EXEC_PREFIX)z80asm
CFLAGS = -O2 -vn -Wn43  -c
endif


obj/z80/%.o: %.c
	@zcc +test -mz80 $(CFLAGS) -o $@  $^

obj/z80/%.o: %.asm
	@$(ASSEMBLER) -I../ --cpu=z80 -D__CLASSIC -o$@ $^

obj/z80-zxn/%.o: %.c
	@zcc +test -mz80-zxn -custom-copt-rules=$(Z88DK_LIB)/zxn_rules.1  $(CFLAGS) -o $@  $^

obj/z80-zxn/%.o: %.asm
	@$(ASSEMBLER) -I../ --cpu=z80-zxn -D__CLASSIC -o$@ $^

obj/ixiy/%.o: %.c
	@zcc +test -mz80 -Ca--IXIY -Cl--IXIY $(CFLAGS) -o $@  $^

obj/ixiy/%.o: %.asm
	@$(ASSEMBLER) -I../ --IXIY --cpu=z80 -D__CLASSIC -o$@ $^

obj/r2k/%.o: %.c
	@zcc +rcmx000 $(CFLAGS) -o $@  $^

obj/r2k/%.o: %.asm
	@$(ASSEMBLER) -I../ --cpu=r2k -D__CLASSIC -o$@ $^

obj/$(TARGET)/%.o: %.c
	@zcc +$(TARGET) $(CFLAGS) -o $@  $^

obj/$(TARGET)/%.o: %.asm
	@zcc +$(TARGET) $(CFLAGS) -o $@  $^

