**/*.lib

common/t/test
config.h
copt/z88dk-copt
cpp/z88dk-zcpp
lstmanip/z88dk-lstmanip
scanner/z88dk-zpragma
sccz80/sccz80
sdcc-build

ticks/ticks
ticks/z88dk-dis
ticks/z88dk-gdb
ticks/z88dk-ticks

ucpp/z88dk-ucpp

z80asm/t/libtestlib.a
z80asm/t/test_codearea
z80asm/t/test_codearea.out
z80asm/t/test_symtab
z80asm/t/test_symtab.out

z80asm/test_t_*
z80asm/z80asm
z80asm/z88dk-z80asm

z80nm/z80nm
z80nm/z88dk-z80nm

z88dk-lib/z88dk-lib

zcc/zcc
zobjcopy/z88dk-zobjcopy
zobjcopy/zobjcopy
zpragma/z88dk-zpragma
