name: build-on-windows-msys2
on:
  push:
  pull_request:
    branches: [ master ]
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
jobs:
  build:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    env:
      LANG: C
      LC_ALL: C
    steps:
    - name: Configure git
      run: |
        git config --global core.autocrlf input
      shell: cmd
    - name: Checkout from git
      uses: actions/checkout@v4
      with:
        submodules: 'true'
    - name: Cache multiple paths
      uses: actions/cache@v4
      with:
        path: |
          ~/perl5
        key: ${{ runner.os }}-cache3
    - name: Install Strawberry Perl
      shell: powershell
      run: |
        Invoke-WebRequest -Uri "https://github.com/StrawberryPerl/Perl-Dist-Strawberry/releases/download/SP_54201_64bit/strawberry-perl-5.42.0.1-64bit.msi" -OutFile "strawberry.msi"
        Start-Process msiexec.exe -ArgumentList "/i strawberry.msi /quiet /qn /norestart" -Wait
    - name: Install CPAN modules (Strawberry Perl)
      shell: cmd
      run: |
        set PATH=C:\Strawberry\perl\bin;C:\Strawberry\c\bin;%PATH%
        cpanm --notest ^
            Archive::Zip ^
            CPU::Z80::Assembler ^
            Capture::Tiny ^
            Clone ^
            Data::Dump ^
            Data::HexDump ^
            File::Path ^
            List::Uniq ^
            Modern::Perl ^
            Object::Tiny ^
            Object::Tiny::RW ^
            Path::Tiny ^
            Regexp::Common ^
            Spreadsheet::ParseXLSX ^
            Test::HexDifferences ^
            Text::Diff ^
            Text::Table ^
            YAML::Tiny
    - name: Install MSYS2
      uses: msys2/setup-msys2@v2
      with:
        msystem: MINGW64
        update: true
        install: >
            base-devel
            git
            m4
            mingw-w64-x86_64-boost
            mingw-w64-x86_64-expat
            mingw-w64-x86_64-gcc
            mingw-w64-x86_64-gmp
            mingw-w64-x86_64-libxml2
            mingw-w64-x86_64-make
            mingw-w64-x86_64-perl
            mingw-w64-x86_64-pkg-config
            mingw-w64-x86_64-ragel
            re2c
            vim
    - name: Configure PERL5LIB for MinGW Perl
      shell: msys2 {0}
      run: |
        export PATH=/mingw64/bin:/usr/bin:/bin
        export PERL5LIB="/c/Strawberry/perl/site/lib:/c/Strawberry/perl/vendor/lib"
        echo "PERL5LIB=$PERL5LIB"
        perl -V
        ln -s /mingw64/bin/mingw32-make /mingw64/bin/make
        which make
    - name: Build binaries
      run: |
        export PATH=/mingw64/bin:/usr/bin:/bin
        export PERL5LIB="/c/Strawberry/perl/site/lib:/c/Strawberry/perl/vendor/lib"
        hash -r
        mkdir -p bin
        cp `which m4` bin/
        ./build.sh -v -l
    - name: Build libraries
      run: |
        export PATH=/mingw64/bin:/usr/bin:/bin
        export PERL5LIB="/c/Strawberry/perl/site/lib:/c/Strawberry/perl/vendor/lib"
        hash -r
        ./build.sh -v -b
    - name: Build examples
      run: |
        export PATH=/mingw64/bin:/usr/bin:/bin
        export PERL5LIB="/c/Strawberry/perl/site/lib:/c/Strawberry/perl/vendor/lib"
        hash -r
        ./build.sh -v -b -l -e
    - name: Run tests
      run: |
        export PATH=/mingw64/bin:/usr/bin:/bin
        export PERL5LIB="/c/Strawberry/perl/site/lib:/c/Strawberry/perl/vendor/lib"
        hash -r
        ./build.sh -v -b -l -t
