name: build-on-macos

on:
  push:
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
      with: 
        submodules: 'true'
    - name: Install homebrew dependencies
      run: |
        brew install perl dos2unix boost ragel re2c
    - name: Install perl prerequisites
      run: |
        export PATH=/usr/local/bin:$PATH
        cpan -T Capture::Tiny
        cpan App::Prove Clone Data::Dump Data::HexDump Modern::Perl File::Path CPU::Z80::Assembler Path::Tiny Regexp::Common Text::Diff Text::Table Object::Tiny::RW List::Uniq YAML::Tiny
    - name: Build binaries
      run: |
        export PATH=/usr/local/bin:$PATH
        ./build.sh -l
    - name: Build libraries
      run: |
        export PATH=/usr/local/bin:$PATH
        ./build.sh -b
    - name: Build examples
      run: |
        export PATH=/usr/local/bin:$PATH
        ./build.sh -b -l -e
    - name: Build sdcc needed for tests
      run: |
        export PATH=/usr/local/bin:$PATH
        make BUILD_SDCC=1 BUILD_SDCC_HTTP=1 bin/z88dk-zsdcc
    - name: Run tests
      run: |
        export PATH=/usr/local/bin:$PATH
        ./build.sh -b -l -t
