name: build-on-windows-msys2

on:
  push:
  pull_request:
    branches: [ master ]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
        
    env:
      LANG: C
      LC_ALL: C

    steps:
    - name: Configure git
      run: |
        git config --global core.autocrlf input
      shell: cmd
      
    - name: Checkout from git
      uses: actions/checkout@v4
      with:
        submodules: 'true'

    - name: Cache multiple paths
      uses: actions/cache@v4
      with:
        path: |
          ~/perl5
        key: ${{ runner.os }}-cache3

    - name: Setup msys2
      uses: msys2/setup-msys2@v2
      with:
        update: true
        msystem: MINGW64
        install: |
          git
          mingw64/mingw-w64-x86_64-boost
          mingw64/mingw-w64-x86_64-expat
          mingw64/mingw-w64-x86_64-gcc
          mingw64/mingw-w64-x86_64-gmp
          mingw64/mingw-w64-x86_64-libxml2
          mingw64/mingw-w64-x86_64-make
          mingw64/mingw-w64-x86_64-perl
          mingw64/mingw-w64-x86_64-pkg-config
          mingw64/mingw-w64-x86_64-ragel
          re2c
          vim
          
    - name: Install Perl toolchain (Windows)
      shell: cmd
      run: |
        :: Install Only Library Modules Using MinGW Perl
        
        :: Use the actual MSYS2 install path
        set MSYS2_ROOT=D:\a\_temp\msys64
        set PATH=%MSYS2_ROOT%\mingw64\bin;C:\Windows\System32
        set LANG=C
        set LC_ALL=C
        
        perl -v
        where perl
         
        :: bootstrap cpanm
        curl -L https://cpanmin.us -o cpanm
        perl cpanm --self-upgrade
        
        :: install ONLY library modules (no scripts!)
        perl cpanm --notest ^
            Path::Tiny ^
            Clone ^
            Capture::Tiny ^
            Data::Dump ^
            Data::HexDump ^
            File::Path ^
            List::Uniq ^
            Modern::Perl ^
            Object::Tiny ^
            Object::Tiny::RW ^
            Regexp::Common ^
            Test::HexDifferences ^
            Text::Diff ^
            Text::Table ^
            YAML::Tiny

        
        :: modules that require pl2bat fail installation, use The Force
        perl cpanm --force Path::Tiny CPU::Z80::Assembler Archive::Zip LWP::UserAgent
        
        :: all modules needed
        perl cpanm Array::Compare Capture::Tiny Clone CPU::Z80::Assembler Data::Dump Data::HexDump File::Path List::Uniq Modern::Perl Object::Tiny Object::Tiny::RW Path::Tiny Regexp::Common Spreadsheet::ParseXLSX Test::HexDifferences Text::Diff Text::Table YAML::Tiny

    - name: Ensure MinGW Perl Is Used (MinGW)
      run: |
        export PATH=/mingw64/bin:/usr/bin:/bin
        hash -r
        
        echo "Perl in MSYS2:"
        which perl
        perl -V:archname
        perl -V:@INC

    - name: Install Perl toolchain (MSYS2 for script modules)
      run: |
        :: Install Script-Based Modules Under MSYS2 Perl (Not MinGW Perl)
        export PATH=/usr/bin:/bin:/mingw64/bin
        hash -r
        
        /usr/bin/cpanm --notest LWP::UserAgent
        
    - name: Build binaries
      run: |
        export PATH=/mingw64/bin:$PATH
        hash -r
        ./build.sh -v -l

    - name: Build libraries
      run: |
        export PATH=/mingw64/bin:$PATH
        hash -r
        ./build.sh -v -b

    - name: Build examples
      run: |
        export PATH=/mingw64/bin:$PATH
        hash -r
        ./build.sh -v -b -l -e

    - name: Run tests
      run: |
        export PATH=/mingw64/bin:$PATH
        hash -r
        ./build.sh -v -b -l -t
