name: build-on-ubuntu

on:
  push:
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout from git
      uses: actions/checkout@v2
      with: 
        submodules: 'true'
    - name: Cache multiple paths
      uses: actions/cache@v3
      with:
        path: |
          ~/.ccache
          ~/perl5
        key: ${{ runner.os }}-cache3
    - name: Update apt 
      run: |
        sudo apt update
    - name: Install apt dependencies
      run: |
        sudo apt install -y build-essential bison flex libxml2-dev subversion zlib1g-dev m4 ragel re2c dos2unix texinfo texi2html gdb curl cpanminus ccache libboost-all-dev libmodern-perl-perl libyaml-perl liblocal-lib-perl libcapture-tiny-perl libpath-tiny-perl libtext-table-perl libdata-hexdump-perl libregexp-common-perl libclone-perl libfile-slurp-perl
    - name: Install perl prerequisites
      run: |
        cpanm --local-lib=~/perl5 App::Prove CPU::Z80::Assembler Data::Dump Data::HexDump File::Path List::Uniq Modern::Perl Object::Tiny::RW Regexp::Common Test::Harness Text::Diff Text::Table YAML::Tiny
    - name: Build binaries
      run: |
        eval $(perl -I ~/perl5/lib/perl5/ -Mlocal::lib)
        ./build.sh -l
    - name: Build libraries
      run: |
        eval $(perl -I ~/perl5/lib/perl5/ -Mlocal::lib)
        ./build.sh -b
    - name: Build examples
      run: |
        eval $(perl -I ~/perl5/lib/perl5/ -Mlocal::lib)
        ./build.sh -b -l -e
    - name: Build sdcc needed for tests
      run: |
        make BUILD_SDCC=1 BUILD_SDCC_HTTP=1 bin/z88dk-zsdcc
    - name: Run tests
      run: |
        eval $(perl -I ~/perl5/lib/perl5/ -Mlocal::lib)
        ./build.sh -b -l -t
