name: build-on-windows-msys2

on:
  push:
  pull_request:
    branches: [ master ]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
        
    env:
      LANG: C
      LC_ALL: C

    steps:
    - name: Configure git
      run: |
        git config --global core.autocrlf input
      shell: cmd
      
    - name: Checkout from git
      uses: actions/checkout@v4
      with:
        submodules: 'true'

    - name: Cache multiple paths
      uses: actions/cache@v4
      with:
        path: |
          ~/perl5
        key: ${{ runner.os }}-cache3

    - name: Setup msys2
      uses: msys2/setup-msys2@v2
      with:
        update: true
        msystem: MINGW64
        install: |
          git
          mingw64/mingw-w64-x86_64-boost
          mingw64/mingw-w64-x86_64-expat
          mingw64/mingw-w64-x86_64-gcc
          mingw64/mingw-w64-x86_64-gmp
          mingw64/mingw-w64-x86_64-libxml2
          mingw64/mingw-w64-x86_64-make
          mingw64/mingw-w64-x86_64-perl
          mingw64/mingw-w64-x86_64-pkg-config
          mingw64/mingw-w64-x86_64-ragel
          re2c
          vim
          
    - name: Install Perl toolchain (Windows)
      shell: cmd
      run: |
        set PATH=C:\msys64\mingw64\bin;%PATH%
        set LANG=C
        set LC_ALL=C
        perl -S cpan local::lib
        for /f "delims=" %%i in ('perl -Mlocal::lib') do set "%%i"
        perl -S cpan App::cpanminus
        perl -S cpan inc::latest Software::License Module::Build
        
    - name: Install Perl toolchain (msys)
      run: |
        export PATH=/mingw64/bin:$PATH
        cpan local::lib App::cpanminus
        eval $(perl -Mlocal::lib="/c/Users/runneradmin/perl5")
        perl -MModule::Build -e 1
        cpanm --notest Path::Tiny
        cpanm App::Prove Array::Compare Capture::Tiny Clone CPU::Z80::Assembler Data::Dump Data::HexDump File::Path List::Uniq Modern::Perl Object::Tiny Object::Tiny::RW Path::Tiny Regexp::Common Spreadsheet::ParseXLSX Test::Harness Test::HexDifferences Text::Diff Text::Table YAML::Tiny
        
    - name: Build binaries
      run: |
        export PATH=/mingw64/bin:$PATH
        eval $(perl -Mlocal::lib="/c/Users/runneradmin/perl5")
        ./build.sh -v -l

    - name: Build libraries
      run: |
        export PATH=/mingw64/bin:$PATH
        eval $(perl -Mlocal::lib="/c/Users/runneradmin/perl5")
        cp `which m4` bin/
        ./build.sh -v -b

    - name: Build examples
      run: |
        export PATH=/mingw64/bin:$PATH
        eval $(perl -Mlocal::lib="/c/Users/runneradmin/perl5")
        ./build.sh -v -b -l -e

    - name: Run tests
      run: |
        export PATH=/mingw64/bin:$PATH
        eval $(perl -Mlocal::lib="/c/Users/runneradmin/perl5")
        ./build.sh -v -b -l -t
