name: test-win32-latest

on:
  schedule:
    - cron: '00 06 * * *'

jobs:
  build:
    runs-on: windows-latest
    defaults:
      run:
        shell: cmd
    steps:
    - name: Install choco packages
      run: |
        choco install unzip
    - name: Install perl prerequisites
      run: |
        perl -S cpan App::cpanminus 
        perl -S cpanm App::Prove Capture::Tiny Clone CPU::Z80::Assembler Data::Dump Data::HexDump File::Path List::Uniq Modern::Perl Object::Tiny::RW Regexp::Common Test::Harness Text::Diff Text::Table YAML::Tiny
    - name: Get lastest nightly
      run: |
        curl -L -o z88dk-win32-latest.zip http://nightly.z88dk.org/z88dk-win32-latest.zip
        unzip -d win32-latest z88dk-win32-latest.zip
    - name: Copy files from nightly
      run: |
        copy /y win32-latest\z88dk\bin\z88dk-z80asm.exe  win32-latest\z88dk\src\z80asm\
        copy /y win32-latest\z88dk\lib\z88dk-z80asm*.lib win32-latest\z88dk\src\z80asm\
    - name: Run z80asm tests
      run: |
        cd win32-latest\z88dk\src\z80asm
        set PATH=%RUNNER_WORKSPACE%\z88dk\win32-latest\z88dk\bin;%PATH%
        set ZCCCFG=%RUNNER_WORKSPACE%\z88dk\win32-latest\z88dk\lib\config
        perl -S prove t\*.t
